Babel
Brotli
CairoSVG
EbookLib
Faker
Fiona
Flask
Flask-CacheBuster
Flask-Cors
Flask-Login
IMAPClient
Jinja2
MarkupSafe
Pillow
PyAudio
PyGObject
PyMuPDF
PyNaCl
PyPDF2
PyWavelets
PyYAML
Pygments
Send2Trash
Shapely
SoundFile
SpeechRecognition
Theano-PyMC
Wand
Werkzeug
XlsxWriter
absl-py
affine
aiofiles
aiohttp
aiosignal
analytics-python
anyio
anytree
argcomplete
argon2-cffi
argon2-cffi-bindings
arviz
asttokens
async-timeout
attrs
audioread
babel
backcall
backoff
backports.zoneinfo
basemap
basemap-data
bcrypt
beautifulsoup4
bleach
blinker
blis
bokeh
branca
brotli
cachetools
cairocffi
cairosvg
camelot-py
catalogue
certifi
cffi
chardet
charset-normalizer
click
click-plugins
cligj
cloudpickle
cmudict
comm
compressed-rtf
countryinfo
cryptography
cssselect2
cycler
cymem
dbus-python
debugpy
decorator
defusedxml
deprecat
dill
distro-info
dlib
dnspython
docx2txt
ebcdic
ebooklib
einops
email-validator
entrypoints
et-xmlfile
exceptiongroup
exchange-calendars
executing
extract-msg
faker
fastapi
fastjsonschema
fastprogress
ffmpeg-python
ffmpy
filelock
fiona
flask
flask-cachebuster
flask-cors
flask-login
folium
fonttools
fpdf
frozenlist
future
fuzzywuzzy
gTTS
gensim
geographiclib
geopandas
geopy
gradio
graphviz
gtts
h11
h2
h5netcdf
h5py
hpack
html5lib
httpcore
httptools
httpx
hypercorn
hyperframe
idna
imageio
imageio-ffmpeg
imapclient
imgkit
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
isodate
itsdangerous
jax
jedi
jinja2
joblib
json5
jsonpickle
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
keras
kerykeion
kiwisolver
korean-lunar-calendar
librosa
llvmlite
loguru
lxml
markdown2
markdownify
markupsafe
matplotlib
matplotlib-inline
matplotlib-venn
mistune
mizani
mne
monotonic
moviepy
mpmath
mtcnn
multidict
munch
murmurhash
mutagen
nashpy
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook-shim
numba
numexpr
numpy
numpy-financial
odfpy
olefile
opencv-python
openpyxl
opt-einsum
orjson
packaging
pandas
pandocfilters
paramiko
parso
pathy
patsy
pdf2image
pdfkit
pdfminer.six
pdfplumber
pdfrw
pexpect
pickleshare
pillow
pip
pkgutil-resolve-name
platformdirs
plotly
plotnine
pluggy
pooch
preshed
priority
proglog
prometheus-client
prompt-toolkit
pronouncing
psutil
ptyprocess
pure-eval
py
pyaudio
pycountry
pycparser
pycryptodome
pydantic
pydot
pydub
pydyf
pygments
pygobject
pygraphviz
pylog
pyluach
pymc3
pymupdf
pynacl
pypandoc
pyparsing
pypdf2
pyphen
pyproj
pyprover
pyrsistent
pyshp
pyswisseph
pytesseract
pytest
pyth3
python-apt
python-dateutil
python-docx
python-dotenv
python-multipart
python-pptx
pyttsx3
pytz
pytz-deprecation-shim
pywavelets
pyxlsb
pyyaml
pyzbar
pyzmq
qrcode
quart
rarfile
rasterio
rdflib
referencing
regex
reportlab
requests
requests-unixsocket
resampy
rpds-py
scikit-image
scikit-learn
scipy
seaborn
semver
send2trash
sentencepiece
setuptools
shap
shapely
six
slicer
smart-open
sniffio
snuggs
sortedcontainers
soundfile
soupsieve
spacy
spacy-legacy
speechrecognition
srsly
stack-data
starlette
statsmodels
svglib
svgwrite
sympy
tables
tabula
tabulate
tenacity
terminado
text-unidecode
textblob
textract
theano-pymc
thinc
threadpoolctl
tifffile
tinycss2
toml
tomli
toolz
torch
torchaudio
torchtext
torchvision
tornado
tqdm
traitlets
trimesh
typer
typing-extensions
tzdata
tzlocal
ujson
unattended-upgrades
urllib3
uvicorn
uvloop
wand
wasabi
watchfiles
wcwidth
weasyprint
webencodings
websocket-client
websockets
werkzeug
wheel
wordcloud
wrapt
wsproto
xarray
xarray-einstats
xgboost
xlrd
xlsxwriter
xml-python
yarl
zipp
zopfli